# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.venv/
venv/
.env

# Playwright
playwright-report/

# Project outputs and debug
output/
storage_state.json
storage/
*.html
*.png

# OS/IDE
.DS_Store
.vscode/
.idea/
